:root {

  --clr-reaction: hsl(0,100%,67%);
  --clr-memory: hsl(39,100%,56%);
  --clr-verbal: hsl(166,100%,37%);
  --clr-visual: hsl(234, 85%, 45%);

  --clr-reaction-background: hsla(0,100%,67%,0.1);
  --clr-memory-background: hsla(39,100%,56%, 0.1);
  --clr-verbal-background: hsla(166,100%,37%, 0.1);
  --clr-visual-background: hsla(234, 85%, 45%, 0.1);

  --clr-background-1: hsl(252,100%,67%);
  --clr-background-2: hsl(241, 81%, 54%);

  --clr-background-circle-1: hsl(256,72%,46%,1);
  --clr-background-circle-2: hsl(241,72%,46%,0);

  --clr-neutral-100: hsl(0,0%,100%);
  --clr-neutral-200: hsl(221,100%,96%);
  --clr-neutral-300: hsl(241,100%,89%);
  --clr-neutral-400: hsl(224,30%,23%);

  --ff-primary: 'Hanken Grotesk', sans-serif;

  --fw-regular: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;

  --fs: 18px;

  --width-500: 500px;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-align: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.reaction-result_a , .reaction-result_b, .reaction-image {
  display: inline;
}

.memory-result_a, .memory-result_b, .memory-image {
  display: inline;
}

.verbal-result_a, .verbal-result_b, .verbal-image {
  display: inline;
}

.visual-result_a, .visual-result_b, .visual-image {
  display: inline;
}


.left-result-panel {
  background: linear-gradient(var(--clr-background-1), var(--clr-background-2));
}

/* Utility classes */

.clr-reaction {
  color: var(--clr-reaction);
}

.clr-reaction-background {
  background-color: var(--clr-reaction-background);
}

.clr-memory {
  color: var(--clr-memory);
}

.clr-memory-background {
  background-color: var(--clr-memory-background);
}

.clr-verbal {
  color: var(--clr-verbal);
}

.clr-verbal-background {
  background-color: var(--clr-verbal-background);
}

.clr-visual {
  color: var(--clr-visual);
}

.clr-visual-background {
  background-color: var(--clr-visual-background);
}

.bg-clr-1{
  background-color: var(--clr-background-1);
}

.bg-clr-2{
  background-color: var(--clr-background-2);
}

.bg-clr-circle-1 {
  background-color: var(--clr-background-circle-1);
}

.bg-clr-circle-2 {
  background-color: var(--clr-background-circle-2);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.clr-neutral-200 {
  color: var(--clr-neutral-200);
}

.clr-neutral-300 {
  color: var(--clr-neutral-300);
}

.clr-neutral-400 {
  color: var(--clr-neutral-400);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.width-500{
  display: flex;
  width: var(--width-500);
}